<h1>Cocktail Blanchette</h1>
<p>Awesome beverages for a developer's nightlife</p>
<%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-primary" %>

<div class="container">
  <div class="row">
    <% @cocktails.each do |cocktail| %>
    <div class="col-12 col-md-6 col-lg-3">
      <h2><%= cocktail.name %></h2>
      <p><%= link_to "description", cocktail_path(cocktail.id) %></p>
    </div>
    <% end %>
  </div>
</div>


<!-- app/views/articles/index.html.erb -->

<!-- for face detection -->

