<div class="banner" style="background-image: url('<%= image_path 'bar.jpg' %>');">
  <div class="banner-content">
    <h1>Cocktail Blanchette</h1>
    <p>Awesome beverages for a developer's nightlife</p>
    <%= link_to "Add a Cocktail", new_cocktail_path, class: "btn btn-primary" %>
  </div>
</div>

<div class="container">
  <h1 class="text-center">all cocktails</h1>
  <div class="row">
    <% @cocktails.each do |cocktail| %>
      <div class="col-xs-12 col-md-6 col-lg-4">
        <div class="card text-center" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://source.unsplash.com/500x400/?cocktail');">
          <div class="card-description text-center">
            <h2><%= cocktail.name %></h2>
          </div>
          <p><%= link_to "", cocktail_path(cocktail.id), class: 'card-link' %></p>
        </div>
      </div>
    <% end %>
  </div>
</div>
<!-- app/views/articles/index.html.erb -->
<!-- for face detection -->
