<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= link_to 'Back to All Cocktails', root_path %>

  <% @cocktail.doses.each do |dose| %>

    <p><%= dose.ingredient.name %></p>
    <p><%= dose.description %></p>

  <% end %>
</div>

