<div class="container">
  <h1><%= @cocktail.name %></h1>
  <%= link_to 'Back to All Cocktails', cocktails_path, class: 'btn btn-primary' %>

  <% @cocktail.doses.each do |dose| %>
  <tr>
    <td><%= dose.ingredient.name %></td>
    <td><%= dose.description %></td>
  </tr>
  <% end %>
</div>

