.logo {
  font-family: $cocktail-font;
  letter-spacing: 1px;
  color: #000;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: #E6E6E6;
  height: 70px;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;

  background: #000000;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #000000;
  color: white;
}
