.logo {
  letter-spacing: 2px;
  color: #000;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: $light-gray;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #000000;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #000000;
  color: white;
}
