@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900i&display=swap');

.logo {
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
  letter-spacing: 2px;
  color: $white;
  margin: 0;
}

.navbar-lewagon {
  justify-content: space-between;
  background: black;
  padding: 8px 25px;
  border-bottom: 1px solid rgba(110, 119, 127, 0.1);
  position: sticky;
  width: 100%;
  top: 0;
  z-index: 1
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

